<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sf.browser"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-feature android:name="android.hardware.touchscreen" android:required="true"/>
	
	<supports-screens 
	    android:largeScreens="true"
	    android:normalScreens="true"
	    android:smallScreens="true"
	    android:anyDensity="true" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="sf.browser.ui.activities.MainActivity"
            android:label="@string/app_name"
			android:launchMode="singleTask"
			android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
			<intent-filter>
			    <action android:name="android.intent.action.VIEW"/>
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="http" />
			    <data android:scheme="https" />
			</intent-filter>
        </activity>
        <activity android:name=".ui.activities.DownloadsListActivity"></activity>
        <activity android:name=".ui.activities.ChangelogActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/ChangelogActivity.Title"></activity>
        <activity android:name=".ui.activities.EditBookmarkActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/EditBookmarkActivity.Title"></activity>
        <activity android:name=".ui.activities.BookmarksHistoryActivity" android:configChanges="keyboardHidden|orientation"></activity>
        <activity android:name=".ui.activities.BookmarksListActivity"></activity>
        <activity android:name=".ui.activities.HistoryListActivity"></activity>
        <activity android:name=".ui.activities.WeaveBookmarksListActivity"></activity>
        <activity android:name=".ui.activities.preferences.WeavePreferencesActivity"></activity>
        <activity android:name=".ui.activities.preferences.WeaveServerPreferenceActivity" android:theme="@android:style/Theme.Dialog" android:label="@string/WeaveServerPreferenceActivity.Title"></activity>
        
        <provider android:name=".providers.ZircoBookmarksContentProvider" android:authorities="sf.browser.providers.zircobookmarkscontentprovider"></provider>
        <provider android:name=".providers.WeaveContentProvider" android:authorities="sf.browser.providers.weavecontentprovider"></provider>

    </application>
</manifest>
